/*
 * -----------------------------------------
 *  MIXINS
 * - - - - - - - - - - - - - - - - - - - - -
 */
@import '_mixins/index';

/*
 * -----------------------------------------
 *  GLOBAL
 * - - - - - - - - - - - - - - - - - - - - -
 */
html {

  height: 100%;

  overflow-x: hidden;
  overflow-y: visible;
  overflow-scrolling: touch;
  scroll-behavior: smooth;

  -webkit-tap-highlight-color: rgba(#000, 0);
	-webkit-text-size-adjust: 100%;

}

body {

  height: 100%;

  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--TXT);

  @include media-breakpoint-up(lg) {

    font-size: 16px;

  }

  &.modal-open .app {

    //

  }

}

/*
 * -----------------------------------------
 *  APP
 * - - - - - - - - - - - - - - - - - - - - -
 */
.app {

  min-height: 100%;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(lg) {

    background-image: url('../../wallpapers/default@2048.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

  }

  @include media-breakpoint-up(xl) {

    background-image: url('../../wallpapers/default@2048.jpg');

  }

}

/*
 * -----------------------------------------
 *  IMPORTS
 * - - - - - - - - - - - - - - - - - - - - -
 */
@import '_partials/app-header.scss';
@import '_partials/app-main.scss';
@import '_partials/app-footer.scss';

/*
 * -----------------------------------------
 *  FOR DEV
 * - - - - - - - - - - - - - - - - - - - - -
 */
.outlined {

  outline: 1px dotted rgba(#f00, .5);

}
