/*
 * -----------------------------------------
 *  MIXINS
 * - - - - - - - - - - - - - - - - - - - - -
 */
@import '_mixins/index';

/*
 * -----------------------------------------
 *  COMMONS
 * - - - - - - - - - - - - - - - - - - - - -
 */
.dropdown-menu {

  //

  .valid:not(.active) {

    color: var(--bs-success);

  }

  .feather {

    width: 20px;
    height: 20px;
    margin-left: -.2rem;
    margin-right: .25rem;
    margin-top: -2px;

    stroke-width: 1.5;

  }

  ul {

    margin: 0;
    padding: 0;

    list-style: none;

    a {

      padding-left: 2.25rem;

    }

  }

}

.form-label {

  //

  .feather {

    width: 20px;
    height: 20px;
    margin-left: .25rem;
    margin-top: -2px;

    color: var(--TEXT-DIMED);
    stroke-width: 1.5;

    transition: color .2s;

    &:hover {

      color: var(--TXT);

    }

  }

}

.action-link {

  margin: .25rem .5rem .25rem 0;

  color: var(--TEXT-DIMED);
  border-color: var(--TEXT-DIMED);

  transition: border-color .2s, color .2s;

  &:hover,
  &:active,
  &:focus {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
  }

  svg {

    width: 20px;
    height: 20px;
    margin-top: -3px;
    margin-left: -4px;

  }

}
