/*
 * -----------------------------------------
 *  MIXINS
 * - - - - - - - - - - - - - - - - - - - - -
 */
@import '_mixins/index';

/*
 * -----------------------------------------
 *  EVAL
 * - - - - - - - - - - - - - - - - - - - - -
 */
.eval,
.postit {

  &-header {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding-top: .5rem;

    .btn {

      margin-bottom: .5rem;

    }

    a {

      text-decoration: none;

    }

    @include media-breakpoint-up(lg) {

      flex-direction: row;

      .btn {

        margin-bottom: 0;
        margin-top: 0;
        margin-right: 1rem;

      }

      a:not(.btn) {

        margin-left: auto;

      }

    }

  }

  &-nav {

    display: flex;
    // align-items: flex-start;
    padding: .5rem 0;
    margin-bottom: 2rem;

    border-top: 1px solid var(--CUSTOM-PRIMARY);
    border-bottom: 1px solid var(--CUSTOM-PRIMARY);

    .dropdown-toggle {

      display: block;
      width: 32px;
      height: 32px;
      margin-right: .875rem;
      margin-top: 3px;

      background-color: var(--CUSTOM-PRIMARY);
      color: #FFF;

      &::after {
        display: none;
      }

    }

    h1 {

      margin: 0 !important;

    }

    .clipboard {

      margin-left: auto;
      margin-top: .5rem;
      padding-left: 1rem;

    }

  }

  &-content {

    padding-bottom: 1rem;

  }

  &-section {

    margin-bottom: 2rem;

    &:last-child {

      margin-bottom: 0;

    }

  }

  &-footer {

    margin: 1rem 0;
    margin-top: 1.5rem;

    .eval-pagination {

      display: flex;
      justify-content: center;
      align-items: center;

    }

    .eval-validation {

      text-align: right;

    }

  }

  h1 {

    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0;

    color: var(--CUSTOM-PRIMARY);

  }

  h2 {

    font-size: 1.425rem;
    font-weight: 600;
    margin-bottom: 0;

    color: var(--CUSTOM-PRIMARY);

    &::before {

      content: '';
      display: inline-block;
      width: .75em;
      height: .75em;
      margin-right: .5em;

      background-color: var(--CUSTOM-PRIMARY);

    }

    .feather {

      margin-left: .25rem;
      margin-top: -2px;

      color: var(--TEXT-DIMED);
      stroke-width: 1.5;

      transition: color .2s;

      &:hover {

        color: var(--TXT);

      }

    }

  }

  h3 {

    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 0;

    text-decoration: underline;

  }

  h4 {

    //

  }

  h5 {

    //

  }

  h6 {

    //

  }

  .form-help {

    display: flex;
    align-items: baseline;

  }

  .count-text {

    margin-left: auto;
    padding-left: 1rem;

    white-space: nowrap;
    font-style: italic;

  }

  .alert {

    margin-bottom: 2rem;

  }

  .grid {

    //

    .row {

      padding: .5rem 0;

      // border-top: 1px solid var(--BORDER-LIGHT);

      &:last-child {

        // border-bottom: 1px solid var(--BORDER-LIGHT);

      }

    }

    .col {

      border-top: 1px solid var(--BORDER-LIGHT);

    }

  }

}
