/*
 * -----------------------------------------
 *  MIXINS
 * - - - - - - - - - - - - - - - - - - - - -
 */
@import '_mixins/index';

/*
 * -----------------------------------------
 *  LOGIN
 * - - - - - - - - - - - - - - - - - - - - -
 */
.login {

  background-image: var(--CUSTOM-IMAGE-SM);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  @include media-breakpoint-up(md) {
    background-image: var(--CUSTOM-IMAGE-MD);
  }

  @include media-breakpoint-up(lg) {
    background-image: none;
  }

  @include media-breakpoint-up(xl) {
    background-image: none;
  }

  .app-header {

    display: none;

  }

  .app-main {

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(0deg, rgba(#fff, 1) 0%, transparent 100%);

  }

  .login-box {

    width: 280px;
    padding: 1rem;
    transform: translateY(-5%);

    @include media-breakpoint-up(sm) {
      width: 360px;
    }

    @include media-breakpoint-up(lg) {
      transform: translateY(0);
    }

  }

  h1 {

    text-align: center;

    color: var(--WHITE);
    border: 1px solid var(--WHITE);

  }

  .presentation {

    text-align: center;

    color: var(--WHITE);

  }

  .form-label {

    display: block;

    text-align: center;
    text-transform: uppercase;
    font-weight: 600;

    color: var(--WHITE);

  }

  a {

    text-decoration: none;

  }

  .login-custom {

    display: none;

  }

}
